.loader {
  position: relative;
  overflow: hidden;
}

.loader.loader--xl {
  width: 200px;
  height: 200px;
}

.loader #dot,
.loader svg[id^=icon] {
  position: absolute;
  left: 0;
  top: 0;
}

.loader #dot {
  z-index: 5;
}

.loader svg[id^=icon] {
  z-index: 1;
}
